<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <caching enabled="false" />
        <rewrite>
            <rules>
                <rule name="Section">
                    <match url="sections/([^.]+$)" />
                    <action type="Rewrite" url="index.html?section={R:1}" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
